body {
  background-color: #005239;
  /* position: relative; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
html,
body {
  overflow-x: hidden;
}

a {
  padding: 0 !important;
  display: block;
  width: 100%;
  margin: 0 !important;
}



#home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.leftMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.name {
  width: 90%;
}

.softwareEngineer {
  width: 65%;
  }

.engineer {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFBE0;
  border: 2px solid black;
}

.star {
  display: block;
  width: 19%;
  margin-left: 68%;
  margin-top: -8%;
}

.rightMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%
}

.titles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.projectsTitle, .linkedinTitle, .githubTitle, .contactTitle {
  width: 100%;
  border: 3px solid black;
  margin: 5px;
  float: left;
  display: block;
}



.projectsTitle {
  background-color: #FFA7DE;
  margin-right: 5%;
}

.linkedinTitle {
  background-color: #FDE962;
  margin-left: 5%;
}

.githubTitle {
  background-color: #FF8E51;
  margin-right: 5%;
}

.contactTitle {
  background-color: #3EA66B;
  margin-left: 5%;
}







.projects-container {
  /* background-color: #cfd1b3; */
  background-color: #b6bb8b;
  height: 200vh;
  width: 100vw;
  font-family: "Alegreya Sans SC";
}

@media only screen and (max-width: 1024px) {
  .projects-container {
    /* padding-top: 5em; */
    height: auto;
    width: 100vw;
  }
}

.project-title {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 75px;
  color: #f1f4f9;
  font-family: "Alegreya Sans SC";
  /* font-variant: small-caps; */
}

.project-desc {
  padding-left: 5%;
  padding-right: 5%;
  color: #707345;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 30%;
  margin-top: 5%;
}

.projects-row2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100vw;
  height: 30%;
  margin-top: 15%;
}

@media only screen and (max-width: 1024px) {
  .projects {
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    /* min-height: 120vh; */
    margin-top: 2em;
    /* padding-bottom: 2em; */
  }
  .seekr-content {
    flex-direction: column;
    justify-content: safe;
    height: 75%;
    margin-top: 10%;
    align-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .projects-row2 {
    align-items: center;
    flex-direction: column;
    justify-content: safe;
    /* min-height: 120vh; */
    margin-top: 0;
    padding-bottom: 2em;
  }
}

.line-border-projects {
  margin: 5%;
  padding: 5%;
  /* color: #2b764c; */
  align-content: center;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  display: inline;
  float: none;
  text-align: center;
}

.project-pods {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: white;
  color: black;
  font-size: 20px;
  /* height: 450px; */
  /* width: 320px; */
  height: 22em;
  width: 16em;
  border-radius: 15%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding-right: 1%;
  padding-left: 1%; */
  overflow: hidden;
  font-family: "Alegreya Sans SC";
}

.projects-title {
  justify-content: center;
  width: 100%;
  font-size: xx-large;
  color: #707345;
  margin-top: 12%;
}

@media only screen and (max-width: 1024px) {
  .projects-title {
    margin-top: 5%;
  }
}

.card-detail-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 120px;
  font-size: medium;
  align-items: flex-end;
  color: #b6bb8b;
}

@media only screen and (max-width: 1024px) {
  .card-detail-btn {
    height: 30px;
    padding-bottom: 5%;
    margin-bottom: 5%;
    /* background-color: rosybrown; */
  }
}

@media only screen and (max-width: 1024px) {
  .project-pods {
    height: 20em;
    margin-bottom: 10%;
    border-radius: 15%;
    padding-bottom: 2%;
  }
}

/* @media only screen and (max-width: 1024px) {
  .project-desc {
    font-size: medium;
    margin-top: 1%;
    margin-bottom: 3%;
  }
} */

.project-pods:hover {
  /* border: solid 2px #b6bb8b; */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1024px) {
  .project-pods:hover {
    border: none;
  }
}

.project-pods-back {
  background-color: white;
  color: black;
  font-size: 20px;
  height: 22em;
  width: 16em;
  border-radius: 15%;
  border: solid 3px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 1%;
  padding-left: 1%;
  font-family: "Alegreya Sans SC";
}

@media only screen and (max-width: 1024px) {
  .project-pods-back {
    display: flex;
    height: 20em;
    margin-bottom: 10%;
    border-radius: 15%;
  }
}
@media only screen and (max-width: 1024px) {
  .pods-content-back {
    padding-top: 3em;
  }
}

.pup-quiz {
  background-color: #edebe4;
  color: #2b764c;
  font-size: 20px;
  height: 400px;
  width: 300px;
  border-radius: 79% 21% 30% 70% / 36% 45% 55% 64%;
  border: solid 3px darkslategray;
}

@media only screen and (max-width: 1024px) {
  .pup-quiz {
    height: 175px;
    width: 300px;
    margin-bottom: 5%;
  }
}

.pup-quiz:hover {
  border: solid 7px #1e5234;
}

.fruitfy-juicery {
  background-color: #edebe4;
  color: #2b764c;
  font-size: 20px;
  height: 400px;
  width: 300px;
  border-radius: 29% 71% 59% 41% / 82% 55% 45% 18%;
  border: solid 3px darkslategray;
}

@media only screen and (max-width: 1024px) {
  .fruitfy-juicery {
    height: 175px;
    width: 300px;
  }
}

.fruitfy-juicery:hover {
  border: solid 7px #1e5234;
}

.contact-msg {
  /* margin-top: 3%; */
  /* margin-left: 10%;
  margin-right: 10%; */
  align-self: center;
  padding-top: 10%;
  color: #707345;
  font-size: x-large;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .contact-msg {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 10%;
  }
}

.contact-container {
  background-color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* padding-top: 5%; */
  padding-bottom: 10%;
  font-family: "Alegreya Sans SC";
}

@media only screen and (max-width: 1024px) {
  .contact-container {
    height: auto;
  }
}

.contact-form-container {
  color: black;
  align-self: center;
  padding-top: 3%;
}

.form-control {
  width: 24em;
  margin: 1em;
  font-family: "Alegreya Sans SC";
  border: 2px solid #707345;
  font-size: large;
}

@media only screen and (max-width: 1024px) {
  .form-control {
    width: 14em;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.submit-btn {
  background-color: #b6bb8b;
  color: #f1f4f9;
  border: none;
  padding: 1em;
  width: 5em;
  font-size: medium;
  margin-bottom: 5%;
  justify-content: center;
  font-family: "Alegreya Sans SC";
}

.msg-sent {
  padding-top: 5%;
  text-align: center;
}

.seekr-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.seekr-container {
  background-color: #edebe4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.seekr-content {
  display: flex;
  /* width: 50%; */
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {
  .seekr-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
  }
}

.seekr-heading {
  margin: 5%;
  margin-top: 2%;
  font-size: large;
  color: #2b764c;
}

.seekr-details {
  display: flex;
  margin-bottom: 2%;
  margin-left: 5%;
  justify-content: space-evenly;
  flex-direction: row;
  border: 2px #2b764c dotted;
  /* background-color: rosybrown; */
}

@media only screen and (max-width: 1024px) {
  .seekr-details {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20%;
    border: none;
  }
}

.seekr-img {
  height: auto;
  width: 100%;
  margin: 0;
  position: fixed;
  overflow: hidden;
  align-content: flex-start;
  justify-content: center;
  top: 0;
  object-fit: contain;
  border-radius: 15% 15% 0 0;
}

@media only screen and (max-width: 1024px) {
  .seekr-img {
    height: 375px;
    width: auto;
    margin: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  #image-one {
    display: none;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.links-circle {
  width: 300px;
  height: 60px;
  color: #edebe4;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  /* margin-left: 1%; */
}

@media only screen and (max-width: 1024px) {
  .links-circle {
    margin-bottom: 3%;
    height: 2em;
    margin-top: 7%;
    text-decoration: none;
    /* background-color: #edebe4; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .tech-stack {
    font-size: small;
  }
}

.seekr-tech-stack {
  align-content: center;
  width: 100%;
  height: 170px;
  /* color: #2b764c; */
  margin-left: 5%;
  margin-right: 5%;
}

.tech-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .tech-group {
    margin-top: 10%;
  }
}

.tech {
  border: 2px solid #b6bb8b;
  color: #b6bb8b;
  padding: 5px;
  margin: 2px;
  font-size: x-large;
}

.seekr-demo {
  font-size: 20px;
}

.mobile-notice {
  color: #707345;
  margin: 0px 5px 0px 5px;
}

@media only screen and (max-width: 1024px) {
  .mobile-notice {
    display: none;
  }
}

.mobile-notice-small {
  color: #707345;
  margin: 0px 20px 0px 20px;
  font-size: small;
}

@media only screen and (max-width: 1024px) {
  .mobile-notice-small {
    display: none;
  }
}

.links {
  text-decoration: none;
  color: #edebe4;
}

.links:visited {
  text-decoration: none;
  color: #edebe4;
}

.seekr-close-btn {
  background-color: #2b764c;
  border: 2px solid #2b764c;
  width: 30px;
  height: 30px;
  color: #edebe4;
}

.LinkedInIcon {
  text-decoration: none;
  color: black;
}

.links-container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: 5%;
  width: 20%;
}

@media only screen and (max-width: 1024px) {
  .links-container {
    width: 100%;
    margin-right: 5%;
  }
}

.img-container {
  width: 100%;
  height: 40%;
  margin: 0;
  background-color: thistle;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  color: #f1f4f9;
}

a:visited {
  text-decoration: none;
  color: #f1f4f9;
}
